<%= simple_form_for(@basket) do |f| %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price, input_html: { step: 100 }%>
  <hr>
  <div class="d-flex justify-content-between">
    <p>Products </p>
    <%= link_to_add_row('Add item', f, :basket_items, class: 'btn btn-success') %>
  </div>
  <div class='fields'>
    <%= f.fields_for :basket_items do |builder| %>
      <%= render 'basket_item', f: builder %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Unleash your Basket", class: 'btn btn-outline-success btn-sm rounded-pill' %>
  </div>

<% end %>
