<div>Photos</div>
<h3> Basket title: <%= @basket.title  %> </h3>
<p> Description: <%= @basket.description %> </p>
<p> Farmer name: <%= @basket.user.first_name %> <%= @basket.user.last_name %> </p>
<p> Farmer description: <%= @basket.user.description %> </p>
<p> Price: <%= @basket.price %> JPY </p>
<p>Items</p>
<ul>
  <% @basket.basket_items.each do |item| %>
    <li> <%= item.product.name %> </li>
  <% end %>
</ul>
<!-- Need to add auhtorization to see this only if user created the basket -->
<% if policy(@basket).edit? %>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#newProduct" aria-expanded="false" aria-controls="collapseExample">
    Add product
  </button>
  <div class="collapse" id="newProduct">
    <%= simple_form_for([@basket, @basket_item]) do |f| %>
      <%= f.input :product_id, collection: Product.all %>
      <%= f.submit%>
    <% end %>
  </div>
<% end %>
<hr>
<button class="btn btn-primary">Subscribe</button>
