<div style="background-color: white">
  <h1 class="text-center">Basket Details</h1>
<hr>
<div class="d-flex">
  <div class="container border">
    <% if @basket.photos.attached? %>
      <%= cl_image_tag @basket.photos.first.key, height: 350, width: 500, crop: :fill %>
    <% else %>
      <%= image_tag "default.jpg", height: 350, width: 500, crop: :fill %>
    <% end %>
  </div>
  <div class="container">
    <% if @basket.photos.attached? %>
      <% @basket.photos[1..-1].each do |photo| %>
        <%= cl_image_tag photo.key, height: 180, width: 220, crop: :fill %>
      <% end %>
    <% else %>
      <%= image_tag "default2.jpg", height: 180, width: 220, crop: :fill %>
    <% end %>
  </div>
</div>
<hr>
<div class="d-flex">
  <div class="container">
    <h3 class=" text-center"><%= @basket.title  %> </h3>
    <p> Description: <%= @basket.description %> </p>
    <p> Farmer name: <%= @basket.user.first_name %> <%= @basket.user.last_name %> </p>
    <p> Farmer description: <%= @basket.user.description %> </p>
  </div>
  <div class="container w-50 p-2 border border-dark rounded">
    <p class="text-center border rounded"> Price: <%= @basket.price %> JPY </p>
    <p class="text-center">Items</p>
    <ul class="list-group list-group-flush">
      <% @basket.basket_items.each do |item| %>
        <div class="d-flex justify-content-between">
          <p><%= item.product.name.capitalize %></p>
          <p><%= item.quantity %></p>
        </div>
      <% end %>
    </ul>
    <hr>
    <% if policy(@subscription).create? %>
      <div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#newSubscription" aria-expanded="false" aria-controls="collapseExample">
          Subscribe
        </button>
        <div class="collapse" id="newSubscription">
          <%= simple_form_for @subscription do |f| %>
            <!-- Need to add collection after merging latest PR -->
            <%= f.input :basket_id, :as => :hidden, :input_html => { :value => @basket.id } %>
            <%= f.input :delivery_day %>
            <%= f.submit%>
          <% end -%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if policy(@basket).edit? %>
<%= link_to "Edit basket", edit_basket_path(@basket), class: "btn btn-outline-primary" %>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#newProduct" aria-expanded="false" aria-controls="collapseExample">
  Add product
</button>
<div class="collapse" id="newProduct">
  <%= simple_form_for([@basket, @basket_item]) do |f| %>
    <%= f.input :product_id, collection: Product.all %>
    <%= f.input :quantity %>
    <%= f.submit%>
  <% end %>
</div>
<% end %>
</div>
