<div class="container p-5 mb-5 mt-5" style="background-color: #afcea4; opacity: 0.95;">
  <div style="background-color: white">
    <div class="row pt-3">
      <div class="col-4 offset-4">
        <h1 class="text-center">Basket Details</h1>
      </div>
      <div class="col offset-2">
        <% if policy(@basket).edit? %>
        <%= link_to "Edit basket", edit_basket_path(@basket), class: "btn btn-success ml-3 mb-3" %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="d-flex">
      <div class="container border">
        <% if @basket.photos.attached? %>
        <%= cl_image_tag @basket.photos.first.key, height: 350, width: 500, crop: :fill %>
        <% else %>
        <%= image_tag "default.jpg", height: 350, width: 500, crop: :fill %>
        <% end %>
      </div>
      <div class="container">
        <% if @basket.photos.attached? %>
        <% @basket.photos[1..-1].each do |photo| %>
        <%= cl_image_tag photo.key, height: 180, width: 220, crop: :fill %>
        <% end %>
        <% else %>
        <%= image_tag "default2.jpg", height: 180, width: 220, crop: :fill %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="d-flex">
      <div class="container">
        <h3 class=" text-center"><%= @basket.title  %> </h3>
        <p> Description: <%= @basket.description %> </p>
        <p> Farmer name: <%= @basket.user.first_name %> <%= @basket.user.last_name %> </p>
        <p> Farmer description: <%= @basket.user.description %> </p>
        <% if current_user %>
          <p>Distance from you: <%= @basket.user.distance_to([current_user.latitude,current_user.longitude]).round(2) %> km</p>
        <% end %>
      </div>
      <div class="container w-50 p-2 border border-dark rounded mr-3 mb-3">
        <p class="text-center border rounded"> Price: <%= @basket.price %> JPY </p>
        <p class="text-center">Items</p>
        <ul class="list-group list-group-flush">
          <% @basket.basket_items.each do |item| %>
          <div class="d-flex justify-content-between">
            <p><%= item.product.name.capitalize %></p>
            <p><%= item.quantity %></p>
          </div>
          <% end %>
        </ul>
        <hr>
        <% if policy(@subscription).create? %>
        <div>
          <% if current_user %>
            <% if current_user.subscriptions.map {|s| s.basket_id}.include?(@basket.id) %>
              <button class="btn btn-success w-100" disabled>
                Currently subscribed
              </button>
            <% else %>
              <button class="btn btn-success w-100" type="button" data-toggle="collapse" data-target="#newSubscription" aria-expanded="false" aria-controls="collapseExample">
                Subscribe
              </button>
            <% end %>
            <div class="collapse" id="newSubscription">
              <%= simple_form_for @subscription do |f| %>
              <%= f.input :basket_id, :as => :hidden, :input_html => { :value => @basket.id } %>
              <%= f.input :delivery_day, collection: Subscription.allowed_delivery_days %>
              <%= f.submit%>
              <% end -%>
            </div>
          <% else %>
            <button class="btn btn-success w-100" disabled>
              Log in or register to subscribe
            </button>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
