<div>Photos</div>
<h3> Basket title: <%= @basket.title  %> </h3>

<% @basket.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill %>
<% end %>

<p> Description: <%= @basket.description %> </p>
<p> Farmer name: <%= @basket.user.first_name %> <%= @basket.user.last_name %> </p>
<p> Farmer description: <%= @basket.user.description %> </p>
<p> Price: <%= @basket.price %> JPY </p>
<p>Items</p>
<ul>
  <% @basket.basket_items.each do |item| %>
    <li> <%= item.product.name %> </li>
  <% end %>
</ul>
<%= simple_form_for([@basket, @basket_item]) do |f| %>
  <%= f.input :product_id, collection: Product.all %>
  <%= f.submit%>
<% end %>

<button class="btn btn-primary">Subscribe</button>
