
<div class="subscriptions-title">
    <%if @subscriptions.count <= 1 %>
    <h3>You have <%= @subscriptions.count %> subscription!</h3>
    <%else%>
    <h3>You have <%= @subscriptions.count %> subscriptions!</h3>
    <% end %>
  </div>
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Delivery date</th>
      <th>Basket</th>
      <th>Price</th>
      <th><%= farmer ? "Customer Name" : "Farmer Name" %></th>
      <th><%= farmer ? "Customer address" : "Farmer address" %></th>
    </tr>
  </thead>
  <tbody>
    <% subscriptions.each do |subscription| %>
    <tr>
      <td class= "d-flex subscription-controls">
        <% if subscription.status == "pending" %>
          <%= link_to "Accept", subscription_path(subscription.id, 'subscription[status]' => "accepted" ), method: :patch %>
          <%= link_to "Decline", subscription_path(subscription.id, 'subscription[status]' => "rejected "), method: :patch %>
        <% elsif subscription.status == "accepted" %>
          <%= link_to "Cancel", subscription_path(subscription.id,'subscription[status]' => "rejected"), method: :patch %>
        <% else subscription.status =="rejected" %>
          <p>Rejected</p>
        <% end %>
      </td>
      <td><%= subscription.delivery_day %></td>
      <td><%= subscription.basket.title %></td>
      <td><%= subscription.basket.price %></td>
      <td><%= farmer ? subscription.user.full_name : subscription.basket.user.full_name %></td>
      <td><%= farmer ? subscription.user.address : subscription.basket.user.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>




