<div>
  <%= render 'pages/carousel' %>
</div>



<div class="home-card">
  <div class="card" style="width: 18rem;">
    <h3 class="text-center mt-2">Organic Farming</h3>
    <div class="row justify-content-center p-1">
      <%= image_tag "farm.png", height: 200, width: 280, crop: :fill %>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3 class="text-center mt-2">Farmers</h3>
    <div class="row justify-content-center p-1">
      <%= image_tag "farmer.png", height: 200, width: 280, crop: :fill %>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3 class="text-center mt-2">About Us</h3>
    <div class="row justify-content-center p-1">
      <%= image_tag "Farm-me.png", height: 200, width: 280, crop: :fill %>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
    </div>
  </div>
</div>

<div class="container mt-5">
    <%= form_tag baskets_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Find a basket"
      %>
      <br>
      <div class="row justify-content-center mb-3">
        <%= submit_tag "Search", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>





