<div class="basketlist-title">
  <%if @baskets.count <= 1 %>
  <h3>You have <%= @baskets.count %> basket!</h3>
  <%else%>
  <h3>You have <%= @baskets.count %> baskets!</h3>
  <% end %>
</div>
<div class="d-flex basketcards">
  <% @baskets.each do |basket| %>
  <div class="basketcard">
    <div class="basket-images">
      <%= basket.photos.each { |photo| cl_image_tag photo.key } if basket.photos %>
    </div>
    <div class="basket-info">
      <h5><%= basket.title %></h5>
      <p><%= basket.price %></p>
    </div>
  </div>
  <% end %>
</div>
<div>
  <%= render partial:'shared/orderlist', locals: {subscriptions: @subscriptions, farmer: true}%>
</div>

